<div class="wrapper">
	<button ng-click="adminRedirect('admin/send-survey')" class="admin-button btn btn-primary">Send Survey</button>
	<div class="clear"></div>
	<button ng-click="adminRedirect('admin/view-results')" class="admin-button btn btn-primary">View Results</button>
	<div class="clear"></div>
	<button ng-click="adminRedirect('admin/create-template')" class="admin-button btn btn-primary">Create Template</button>
	<div class="clear"></div>
	<button ng-click="adminRedirect('admin/create-group')" class="admin-button btn btn-primary">Create Group</button>
	<div class="clear"></div>
	<button ng-click="adminRedirect('admin/create-topic')" class="admin-button btn btn-primary">Create Topic</button>
</div>