<nav class="btn-group admin-nav" dropdown is-open="status.isopen">
	<button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
	Navigation<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		<li role="menuitem"><a href="#/admin">Dashboard</a></li>
		<li role="menuitem"><a href="#/admin/send-survey">Send Survey</a></li>
		<li role="menuitem"><a href="#/admin/view-results">View Results</a></li>
		<li role="menuitem"><a href="#/admin/create-template">Create Template</a></li>
		<li role="menuitem"><a href="#/admin/create-group">Create Group</a></li>
	</ul>
</nav>
