<nav class="btn-group admin-nav" dropdown is-open="status.isopen">
	<button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
	Navigation<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		<li role="menuitem"><a href="#/admin">Dashboard</a></li>
		<li role="menuitem"><a href="#/admin/send-survey">Send Survey</a></li>
		<li role="menuitem"><a href="#/admin/view-results">View Results</a></li>
		<li role="menuitem"><a href="#/admin/create-template">Create Template</a></li>
		<li role="menuitem"><a href="#/admin/create-topic">Create Topic</a></li>
	</ul>
</nav>

<div class="wrapper">
	<form name="createGroup">
		
		<div class="form-group">
			<label for="group-name">Group Name</label>
			<input ng-model="recipientGroup.groupName" type="text" class="form-control" required>
		</div>

		<div class="user-container">
			<div class="form-group">
				<label for="user-name">User Name</label>
				<input id="user-name-input" ng-model="username" type="text" class="form-control">
			</div>

			<div class="form-group">
				<label for="user-email">User Email</label>
				<input ng-model="email" type="email" class="form-control">
			</div>
		</div>

		<button ng-disabled="username == '' || email == ''" ng-click="addUser()" class="btn btn-default add-new"><span class="glyphicon glyphicon-plus"></span></button>

		<div class="clear"></div>

		<button ng-click="postNewGroup()" ng-disabled="recipientGroup.users.length <= 1" class="btn btn-primary">Create</button>

	</form>

	<ul class="user-list">
		<li><b>{{ recipientGroup.groupName }}</b></li>
		<li ng-show="user.name !== ''" ng-repeat="user in recipientGroup.users track by $index">{{ user.name }}, {{ user.email }}<a ng-click="removeInput($index, recipientGroup.users)" href=""><span class="glyphicon glyphicon-remove"></span></a></li>
	</ul>
</div>
