<nav-dir></nav-dir>

<div class="wrapper">

	<form name="createSurveyForm">

		<div class="form-group">
			<label for="topic-name">Survey Name</label>
			<input ng-model="topicName" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label for="description">Survey Description</label>
			<input ng-model="topicDescription" type="text" class="form-control">
		</div>

		<div class="form-group">
			<div id="var-names-container">
				<label for="var-names">Variable Names</label>
				<div ng-repeat="item in varNameContainer track by $index" class="repeatable-input-wrapper">
					<input ng-model="varNameContainer[$index]" type="text" class="form-control repeatable-input">
					<button ng-click="removeInput($index, varNameContainer)" class="btn btn-default remove-input"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
			<button ng-click="addNewInput(varNameContainer)" class="btn btn-default add-new"><span class="glyphicon glyphicon-plus"></span></button>
		</div>

		<div class="clear"></div>

		<div class="question-container" ng-repeat="question in questions track by $index">

			<div class="form-group" id="question-builder">
				<label for="title-text">Question Title Text</label>
				<input ng-model="question.titleText" type="text" class="form-control">
			</div>

			<div class="form-group">
				<label for="help-text">Question Help Text</label>
				<input ng-model="question.helpText" type="text" class="form-control">
			</div>

			<div class="form-group">
				<label for="question-type">Question Type</label>
				<label class="radio-inline"><input class="radio-inline" type="radio" ng-model="question.questionType" value="radio" name="question-type{{$index}}">Multiple Choice</label>
				<label class="radio-inline"><input class="radio-inline" type="radio" ng-model="question.questionType" value="multiCheckbox" name="question-type{{$index}}">Select Many</label>
				<label class="radio-inline"><input class="radio-inline" type="radio" ng-model="question.questionType" value="input" name="question-type{{$index}}">Text</label>
			</div>

			<div class="form-group">
				<div id="answers-container">
					<label for="answers">Answers</label>
					<div ng-repeat="item in question.answers track by $index" class="repeatable-input-wrapper">
						<input ng-model="question.answers[$index]" type="text" class="form-control repeatable-input">
						<button ng-click="removeInput($index, question.answers)" class="btn btn-default remove-input"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
				<button ng-click="addNewInput(question.answers)" class="btn btn-default add-new"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>

		<button ng-click="addQuestion()" class="btn btn-default">Add another question</button>

		<div class="clear"></div>

		<button ng-click="postSurveyTemplate(topicName, topicDescription, questions, varNameContainer)" class="btn btn-primary">Submit</button>

	</form>

	<h3 ng-show="surveyTemplatePosted" class="success-message">Survey Template Posted!</h3>


</div>