<nav class="btn-group admin-nav" dropdown is-open="status.isopen">
	<button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
	Navigation<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		<li role="menuitem"><a href="#/admin">Dashboard</a></li>
		<li role="menuitem"><a href="#/admin/send-survey">Send Survey</a></li>
		<li role="menuitem"><a href="#/admin/view-results">View Results</a></li>
		<li role="menuitem"><a href="#/admin/create-group">Create Group</a></li>
		<li role="menuitem"><a href="#/admin/create-topic">Create Topic</a></li>
	</ul>
</nav>

<div class="wrapper">

	<form name="createSurveyForm">

		<div class="form-group">
			<label for="topic-name">Survey Name</label>
			<input ng-model="topicName" class="form-control" type="text">
		</div>

		<div class="form-group">
			<label for="description">Survey Description</label>
			<input ng-model="topicDescription" type="text" class="form-control">
		</div>

		<div class="form-group">
			<div id="var-names-container">
				<label for="var-names">Variable Names</label>
				<div ng-repeat="item in varNameContainer track by $index" class="repeatable-input-wrapper">
					<input ng-model="varNameContainer[$index]" type="text" class="form-control repeatable-input">
					<button ng-click="removeInput($index, 	varNameContainer)" class="btn btn-default remove-input"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
			<button ng-click="addNewInput(varNameContainer)" class="btn btn-default add-new"><span class="glyphicon glyphicon-plus"></span></button>
		</div>

		<div class="clear"></div>

		<div class="question-container" ng-repeat="question in questions track by $index">

			<div class="form-group" id="question-builder">
				<label for="title-text">Question Title Text</label>
				<input ng-model="question.titleText" type="text" class="form-control">
			</div>

			<div class="form-group">
				<label for="help-text">Question Help Text</label>
				<input ng-model="question.helpText" type="text" class="form-control">
			</div>

			<div class="form-group">
				<label for="question-type">Question Type</label>
				<label><input class="radio-inline" type="radio" ng-model="question.questionType" value="multiple-choice" name="question-type">Multiple Choice</label>
				<label><input class="radio-inline" type="radio" ng-model="question.questionType" value="select-many" name="question-type">Select Many</label>
				<label><input class="radio-inline" type="radio" ng-model="question.questionType" value="text" name="question-type">Text</label>
			</div>

			<div class="form-group">
				<div id="answers-container">
					<label for="answers">Answers</label>
					<div ng-repeat="item in question.answers track by $index" class="repeatable-input-wrapper">
						<input ng-model="question.answers[$index]" type="text" class="form-control repeatable-input">
						<button ng-click="removeInput($index, question.answers)" class="btn btn-default remove-input"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
				<button ng-click="addNewInput(question.answers)" class="btn btn-default add-new"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>

		<button ng-click="addQuestion()" class="btn btn-default">Add another question</button>

		<div class="clear"></div>

		<button ng-click="postSurveyTemplate(topicName, topicDescription, questions, varNameContainer)" class="btn btn-primary">Submit</button>

	</form>


</div>