<div ng-if="question.questionType === 'multiple-choice'" ng-repeat="answer in question.answers track by $index" class="form-group">
	<label for="{{ question.titleText }}">{{ answer }}</label>
	<input class="form-control" type="radio" name="{{ question.titleText }}">
</div>

<div ng-repeat="answer in question.answers track by $index" ng-if="question.questionType === 'select-many'" class="form-group">
	<label for="{{ question.titleText }}">{{ answer }}</label>
	<input name ="{{ question.titleText }}" class="form-control" type="checkbox">
</div>

<div ng-if="question.questionType === 'text'" ng-repeat="answer in question.answers track by $index" class="form-group">
	<label for="{{ question.titleText }}">{{ answer }}</label>
	<input class="form-control" name="{{ question.titleText }}" type="text">
</div>