<nav-dir></nav-dir>

<div class="wrapper">
	<form name="sendSurvey">

		<div class="form-group">
			<label for="public-name">Public Survey Name</label>
			<input ng-model="publicName" name="topic-name" type="text" class="form-control">
		</div>

		<div class="form-group">
			<label for="topic-select">Topic</label>
			<select ng-model="selectedTopic" ng-options="topic as topic.topicName for topic in topics" name="topic-select" class="form-control"></select>

			<div ng-show="selectedTopic" class="form-group input-sub-container">
				<label for="subject-selection">Session</label>
				<select ng-model="selectedSubject" ng-options="subject as (subject.subjectName + ', ' + (subject.date | date) + ', ' + subject.recipientGroup.groupName) for subject in selectedTopic.subjects" class="form-control" name="subject-selection"></select>
			</div>

		</div>

		<div class="form-group">
			<label for="survey-select">Survey Template Select</label>
			<select ng-options="survey as survey.name for survey in surveyTemplates" ng-model="selectedSurvey" class="form-control" name="survey-select"></select>
				<div class="form-group input-sub-container" ng-repeat="varName in selectedSurvey.varNames track by $index">
					<label for="{{ varName }}">Replacement value for "{{ varName }}"</label>
					<input ng-model="replacementText[$index]" name="{{ varName }}" class="form-control var-names" type="text" required >
				</div>
		</div>

		<button ng-click="parseSurvey(publicName, selectedSurvey.description, selectedSubject, replacementText)" class="btn-primary btn">Submit</button>

	</form>
</div>

<div ng-show="confirmNewSurvey" class="wrapper">
	<form name="exampleSurvey">

		<h2>{{ confirmNewSurvey.publicName }}</h2>

		<h4>{{ confirmNewSurvey.description }}</h4>
		
		<div ng-repeat="question in confirmNewSurvey.questions track by $index" class="form-group">
			<label>{{ question.titleText }}</label>
			<p ng-show="question.helpText">{{ question.helpText }}</p>
			<question-type question="question"></question-type>
		</div>

	</form>

	<button ng-click="postParsedSurvey()" class="btn-primary btn">Confirm</button>
</div>